@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D2125; /* Cambia este color al que prefieras */
  margin: 0;
  font-family: "Gill Sans", sans-serif; /* O cualquier fuente que prefieras */
  color: #B6C2CF; /* Cambia el color de texto si es necesario */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
